body{
    background:green;
}
form{
    border: 1px solid green;
    background-color: rgb(113, 218, 218);
    width: 20%;
    margin: auto;
    text-align: center;
}
div{
    padding: 1.5%;
}
*{
    margin: 3%;
}